<div class="color">
    <div class="container p-5 text-white">
        <div class="row gy-5">
            <div class="col-md-4 text-center">
                <h2>LOCATION</h2>
                <p class="mt-1 mb-3">2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>AROUND THE WEB</h2>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center icon">
                        <i class="fa-brands fa-facebook text-center "></i>
                    </div>
                    <div class="d-flex justify-content-center align-items-center icon">
                        <i class="fa-brands fa-twitter "></i>
                    </div>
                    <div class="d-flex justify-content-center align-items-center icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <div class="d-flex justify-content-center align-items-center icon">
                        <i class="fa-solid fa-earth-americas"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h2>ABOUT FREELANCER</h2>
                <p class="mt-1 mb-3">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>