<section class="contact w-100 vh-100">
    <div class="d-flex justify-content-center align-items-center text-white">
        <div class="text-center text-black">
          <h1 class="text-uppercase mt-4 ">contact section</h1>
          <div class="mt-3 common">
              <div class='line-container'><div class='line-icon'><i class="fa-solid fa-star fs-5 text-black"></i></div></div>
          </div>
        </div>
      </div>

      <div class="container">
        <input class="form-control mb-5" type="text" placeholder="userName" aria-label="default input example">
        <input class="form-control mb-5" type="text" placeholder="userAge" aria-label="default input example">
        <input class="form-control mb-5" type="text" placeholder="userEmail" aria-label="default input example">
        <input class="form-control mb-4" type="text" placeholder="userPassword" aria-label="default input example">
        <button class="btn btn-success">send Message</button>
      </div>
</section>
