.portfolio{
    margin-top:115px;
    color:black;
}
.line-icon {
    text-align: center;
}

/* Joined both selectors, since were pretty much the same */
.line-icon::before,
.line-icon::after {      
    /* Styles kept */
    width: 30%;
    height: 3px;

    /* Changed to border-top (instead of border) to simulate a line better */
    border-top: 4px solid #000; 

    /* Styles added */
    display: inline-block;
    content: '';

    /* Use padding to vertical align the line */
    /* Use padding in em for a responsive icon height */
    padding-top: 0.5em; 

    /* Use margins to give the lines some spacement around the icon */
    /* Use margins in % for a responsive spacement */   
    margin-left: 5%; 
    margin-right: 5%;
}
.layer{
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    opacity:0;
    padding:0;
    background-color:#1ABA9F;
    transition:opacity .4s ease-in-out;
    cursor:pointer;
}

.fs-15{
    font-size:5rem;
}
.col-md-4:hover .layer{
    opacity:0.7;
}
.lightBox-container{
    background-color:rgba(194, 219, 254, .5);
    z-index:999999;
}
.light-box{
    width:50%;
    height:70vh;
}