<section class="portfolio">
    <div class="d-flex justify-content-center align-items-center text-white">
        <div class="text-center text-black">
          <h1 class="text-uppercase mt-3">portfolio component</h1>
          <div class="mt-3 common">
              <div class='line-container'><div class='line-icon'><i class="fa-solid fa-star fs-4 text-black"></i></div></div>
          </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row gy-4 ">
            <div (click)="flag = false ;modelImg=src1"  class="col-md-4 rounded-3 position-relative p-3">
                <img [src]="src1" class="w-100 rounded-3 " alt="">
                <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-15 text-white"></i>
                    </div>
                </div>
            </div>
            <div (click)="flag = false ;modelImg=src2" class="col-md-4 rounded-3  p-3 position-relative">
                <img [src]="src2" class="w-100 rounded-3 p-0" alt="">
                <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-15 text-white"></i>
                    </div>
                </div>
            </div>
            <div (click)="flag = false ;modelImg=src3" class="col-md-4 rounded-3  p-0 position-relative">
                <img [src]="src3" class="w-100 rounded-3 p-3" alt="">
                <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-15 text-white"></i>
                    </div>
                </div>
            </div>
            <div (click)="flag = false ;modelImg=src1" class="col-md-4 rounded-3  p-3 position-relative">
                <img [src]="src1" class="w-100 rounded-3 p-0" alt="">
                <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-15 text-white"></i>
                    </div>
                </div>
            </div>
            <div (click)="flag = false ;modelImg=src2" class="col-md-4 rounded-3  p-3 position-relative">
                <img [src]="src2" class="w-100 rounded-3 p-0" alt="">
                <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-15 text-white"></i>
                    </div>
                </div>
            </div>
            <div (click)="flag = false ;modelImg=src3" class="col-md-4 rounded-3  p-3 position-relative">
                
                <img [src]="src3" class="w-100 rounded-3 p-0" alt="">
                <div class="layer position-absolute rounded-3 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-15 text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div (click)="hideImg($event.target,img)" [class.d-none]="flag" class="lightBox-container  d-flex justify-content-center align-items-center top-0 end-0 start-0 bottom-0  position-fixed">
        <div class="light-box mt-5">
            <img  #img [src]="modelImg" class="w-100 rounded-3" alt="">
        </div> 
    </div>
    
</section>
