<div class="section d-flex justify-content-center align-items-center w-100 p-5">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center text-white">
      <div class="text-center">
        <img src="assets/img/avataaars.svg" alt="" />
        <h1 class="text-uppercase">start framework</h1>
        <div class="mt-3 common">
            <div class='line-container'><div class='line-icon'><i class="fa-solid fa-star fs-3 text-white"></i></div></div>
        </div>
        <span>Graphic Artist - Web Designer - Illustrator</span>
      </div>
    </div>
  </div>
</div>
